{{#hover-overable isHovered=isHovered}}
  <button id={{elementId}} class={{hoverClass}} {{action 'populateCard' id}}>
    {{#if isLoading}}
      <div class="loader"></div>
    {{else if isHovered}}
      Click me!
    {{else}}
      {{id}}
    {{/if}}
  </button>
{{/hover-overable}}
