<div class="app-container">
  <h1 class="text-center">Reddit Aww</h1>
  {{#hover-overable isHovered=isHovered}}
    <button id="populateButton" class={{hoverClass}} {{action 'populateCard'}}>
      {{#if isLoading}}
        <div class="loader"></div>
      {{else if hoverClass}}
        Click and you will smile
      {{else}}
      Make me smile
      {{/if}}
    </button>
  {{/hover-overable}}

  {{#if showCards}}
    {{#each postArray as |post|}}
      {{post-card post=post}}
    {{/each}}
  {{/if}}

</div>
{{outlet}}
